.logo {
  margin: 0 !important;
}

.navbar-brand {
  padding: 7px 15px;
}

.container-fluid {
  padding: 0;
}

#login-buttons {
  margin: 18px;
  font-size: 14px;
}

.list-group-item {
  height: 55px;
}

.bin-share::before {
  content: '';
  clear: both;
  display: block;
}

.bin-share {
  margin-top: 20px;
}

.bin-share .input-group {
  width: 30%;
}

.share-with {
  padding-top: 12px;
}
